<ion-view title="Chat Screen 1" hide-nav-bar="true" id="page12" style="background-color:#44BBF8;">
    <ion-content padding="true" class="manual-ios-statusbar-padding">
        <h1 id="chatScreen1-heading2" style="color:#FFFFFF;text-align:center;">CHAT/ MESSAGE</h1>
        <ion-list id="chatScreen1-list6">
            <ion-item id="chatScreen1-list-item10">CHAT 1</ion-item>
            <ion-item id="chatScreen1-list-item11">CHAT 2</ion-item>
            <ion-item id="chatScreen1-list-item12">CHAT 3</ion-item>
        </ion-list>
    </ion-content>
</ion-view>