<ion-view title="Login State" hide-nav-bar="true" id="page6" style="background-color:#44BBF8;">
    <ion-content padding="true" class="manual-ios-statusbar-padding">
        <div class="spacer" style="width: 300.012px; height: 21.9838px;"></div>
        <div>
            <img src="img/EPRTZLLuRZ2j1fGFBiVo_oie_transparent4.png" width="80%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <form id="loginState-form2" class="list">
            <div class="spacer" style="width: 300.012px; height: 23.9792px;"></div>
            <div class="spacer" style="width: 300.023px; height: 9.98843px;"></div>
            <label class="item item-input" id="loginState-input8">
                <span class="input-label">Username:</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input" id="loginState-input9">
                <span class="input-label">Password:</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <button id="loginState-button4" style="color:#FFFFFF;" class="button button-assertive  button-block icon-right ion-ios-home">Log in</button>
    </ion-content>
</ion-view>