
<ion-content style="background-color:#CAEBF2;">
    <div class="spacer" style="width: 300px; height: 0.222222px;"></div>
    <form id="defaultLoginPage-form1" class="list">
        <div>
            <img src="img/whiim trans.png" id="defaultLoginImg">
        </div>
        <!-- WILL IMPLEMENT THIS FEATURE ONCE A PROTOTYPE IS CREATED -->
        <!-- <button ui-sref="loginState" id="defaultLoginPage-button1" style="color:#FFFFFF;" class="button button-assertive  button-block icon-right ion-ios-home">Log in</button> -->
        <button id="defaultLoginPageBtn1" ng-click="login.facebookLogIn()" class="button button-positive  button-block icon-right ion-social-facebook">Login With Facebook</button>
        <button id="defaultLoginPageBtn2" ng-click="login.facebookLogIn()" class="button button-assertive  button-block icon-right ion-ios-home">Login</button>
    </form>
</ion-content>

