<ion-view title="Profile Page" hide-nav-bar="true" id="page14">
    <ion-content class="manual-ios-statusbar-padding" id="profilePage">
        <div class="defaultHeader">
            <label class="deafultHeaderTitle">WHiiM</label>
            <button class="messagesHeaderBtn button icon ion-chatboxes"></button>
        </div>
            <img class="profile-photo" ng-src="{{profile.user.photoURL}}" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
         <h1 id="profilePage-heading3" style="color:#000000;text-align:center;">{{profile.user.displayName}}</h1>
            
        </div>

        <div class="about-me-div text-box row">
            <div class="col">
                <label class="item item-input" id="profilePage-textarea5">
                    <span class="input-label">About:
                     <input class="item" type="text" ng-model="profile.user.aboutMe" placeholder=""></input></span>
                </label>
            </div>
        </div>
            


            <!-- buttons -->
            <div class="row">
                <div class="col">
                    <button class="button button-block ion-gear-a save-btn" ng-click="profile.save()"> Save</button>
                </div>
                <div class="col">
                    <button class="button button-block ion-log-out logOff-btn" ng-click="profile.logOff()"> Sign Out</button>
                </div>
            </div>
    </ion-content>
</ion-view>