<ion-view title="Profile Page" hide-nav-bar="true" id="page14">
    <ion-content class="manual-ios-statusbar-padding">
        <div class="defaultHeader">
            <label class="deafultHeaderTitle">WHiiM</label>
            <button class="messagesHeaderBtn button icon ion-ios-email"></button>
        </div>
        <h1 id="profilePage-heading3" style="color:#000000;text-align:center;">{{profile.user.displayName}}</h1>
        <div>

            <img class="profile-photo" ng-src="{{profile.user.photoURL}}" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            
        </div>
        <form id="profilePage-form8" class="list">
            <label class="item item-input" id="profilePage-textarea4">
                <span class="input-label"></span><textarea placeholder=""></textarea>
            </label>
            <label class="item item-input" id="profilePage-textarea5">
                <span class="input-label">ABOUT ME ---</span><textarea ng-model="profile.user.aboutMe" placeholder=""></textarea>
            </label>
            <!-- will be removed -->
            <button ng-click="profile.logOff()">Log Out</button>
            <button ng-click="profile.save()">Save</button>
        </form>
    </ion-content>
</ion-view>