
<ion-view title="Notifications" hide-nav-bar="true" id="notificationsPage">
        <!-- <ion-list ng-repeat="note in notifications" id="notifications-list7">
           
        </ion-list> -->
        <ion-content class="manual-ios-statusbar-padding">
        <div class="defaultHeader">
            <label class="deafultHeaderTitle">WHiiM</label>
            <button class="messagesHeaderBtn button icon ion-ios-email"></button>
        </div>
        <td-cards>
        	<td-card ng-repeat="note in notifs.notifications" class="notificationCard list card">
	            <ion-item>
	            	<div class="row">
					<!-- <img class="profile-photo" ng-src="{{notifs.user.photoURL}}" width="100%" 							height="auto" style="display: block; margin-left: auto; margin-right: 						auto;" ng-click="popover.show($event)"> -->
		                <p class="col-80"><a ng-click="popover.show($event); setRequestingId(note.$id)" class="notificationCard-userName">{{note.displayName}}</a> wants to join!</p>
		                <div id="notificationCard-icons">
			                <i id="declineCardIcon" class="col-10 icon ion-close-circled" ng-click="notifs.remove($index)"></i>
			                <i id="acceptCardIcon" class="col-10 icon ion-checkmark-circled" ng-click="notifs.add(note)"></i>
			            </div>
		            </div>
	            </ion-item>
	        </td-card>
        </td-cards>
    </ion-content>
</ion-view>