<ion-view title="Create Activity" hide-nav-bar="true" id="page11">
    <ion-content class="manual-ios-statusbar-padding">
        <div class="defaultHeader">
            <label class="deafultHeaderTitle">WHiiM</label>
            <button class="messagesHeaderBtn button icon ion-chatboxes"></button>
        </div>

        <div>
            <h1 id="create-event-header" class="row">Create a New Event</h1>
            <p class="row">What do you feel like doing?</p>
        </div>

        <div class="row">
          <label class="col item item-input">
            <input type="text" placeholder="Event Name">
          </label>
        </div>
        <div id="create-event-text" class="row">
          <label class="col item item-input">
            <textarea placeholder="Description"></textarea>
          </label>
        </div>
        
        <!-- buttons -->
        <div class="row">
            <div class="col">
                <button class="button" ng-click="openPopover($event)">{{event.activity}}</button>
            </div>
            <div class="col">
                <button class="button">#</button>
            </div>
            <div clas="col">
                <button class="button" ng-click="createEvent()">Post</button>
            </div>
        </div>
        
    
        </form>
    </ion-content>
</ion-view>