<ion-view title="Create Activity" hide-nav-bar="true" id="createPage">
    <ion-content class="manual-ios-statusbar-padding">
    <div class="card">
        <div class="defaultHeader">
            <label class="deafultHeaderTitle">WHiiM</label>
            <button class="messagesHeaderBtn button icon ion-chatboxes"></button>
        </div>

        <div>
            <h1 id="create-event-header" class="row">Create a New Event</h1>
            <p class="row">What do you feel like doing?</p>
        </div>
    </div>
    <div class="card">
        <form>
            <!-- Where user inputs event name -->
            <div class="row">
                <label class="create-label">Event Name:</label>
            </div>
            <div class="row">
                <input id="create-event-name" class="row createInput" type="text" placeholder="" maxlength="50" ng-model="newEvent.name">
            </div>

            <!-- Where user inputs Description -->
            <div class="row">
                <label class="create-label">Description:</label>
            </div>
            <div class="row">
                <input id="create-event-description" class="row createInput" type="text" placeholder="" maxlength="200" ng-model="newEvent.description">
            </div>
            
            
            <!-- Where user inputs # of people they want to join -->
      
                <div class="row">
                    <label class="col-70 create-label">How many people would you like to join you?
                        <output class="col-30 ppl-output">{{newEvent.requiredUsers}}</output>
                    </label>
                    
                </div>
                <div class="row">
                    <div class="row item range">
                        <i class="icon ion-ios-person"></i>
                            <input type="range" value="0" min="1" max="10" step="1" ng-model="newEvent.requiredUsers"/>
                        <i class="icon ion-ios-people"></i>
                    </div>
                </div>
            

                <!-- <div class="row">
                    <label class="creat-label">What type of activity is this?</label>
                </div> -->
                <div class="row">
                    <button class="button button-block pick-category-btn" ng-click="popover.show($event)" ng-model="newEvent.category">What type of event is this?</button>
                </div>


          
      
            <div class="row">
                <button class="button button-block post-event-btn" ng-click="create.createEvent(create.newEvent)">Post Event <i class="cust-icon ion-paper-airplane"></i></button>
            </div>
        </form>
        </div> <!-- closing card div -->
    </ion-content>
</ion-view>