.platform-ios .manual-ios-statusbar-padding {
        padding-top: 20px;
    }
    
    .manual-remove-top-padding {
        padding-top: 0px;
    }
    
    .manual-remove-top-padding .scroll {
        padding-top: 0px !important;
    }
    
    ion-list.manual-list-fullwidth div.list,
    .list.card.manual-card-fullwidth {
        margin-left: -10px;
        margin-right: -10px;
    }
    
    ion-list.manual-list-fullwidth div.list > .item,
    .list.card.manual-card-fullwidth > .item {
        border-radius: 0px;
        border-left: 0px;
        border-right: 0px;
    }


/***************************************************
                Default Header Bar
***************************************************/
.bar.bar-positive {
    background-color: #A9A9A9;
    height: 3.5em;
    border-color: #A9A9A9;
    background-image: none;
}

.defaultHeader {
    background-color: #A9A9A9;
    height: 3.5em;
    width: 100%;
    margin-bottom: 20px;
    box-shadow: 0px 3px 5px #808080;
    text-align: center;
}

.messagesHeaderBtn {
    background-color: #A9A9A9;
    color: #fff;
    float: right;
    box-shadow: 0px 2px 4px #808080;
    font-size: 1.5em;
}

.deafultHeaderTitle {
    text-align: center;
    color: #fff;
    font-size: 2.4em;
    font-family: 'Raleway', sans-serif;
}

/***************************************************
             Default Tabs Controller
***************************************************/
.tab-item.tab-item-active, .tab-item.active, .tab-item.activated {    
    opacity: 1;
    color: #ff3b3f;
    box-shadow: 0 1em 2em #ccc;
}

.tab-item .icon {
    display: block;
    margin: 7%;
}

/***************************************************
                Default Login Html
***************************************************/
#defaultLoginImg {
    width: 90%; 
    height: 90%;
    display: block; 
    margin-left: auto; 
    margin-right: auto;
    margin-top: 18%;
    margin-bottom: 10%;
}

#defaultLoginPageBtn1 {
    width: 94%;
    margin-left: 3%;
    margin-right: 3%;
    box-shadow: 0px 3px 6px #bbb;
}

#defaultLoginPageBtn2 {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 0px 3px 6px #bbb;
    background-color: #ff3b3f;
}



#activityFeedBtn {
    width: 60%;
    background-color: #96d7e5;
    margin-left: 20%;
    margin-right: 20%;
    color: #fff;
    font-size: 1.5em;
    font-weight: bold;
    box-shadow: 0px 2px 6px #ccc;

}

ion-popover-view .list {
    text-align: center;
}


/***************************************************
                Dashboard Html
***************************************************/
#dashboardHtml {
    background-color: #EFEFEF;
}

.swipeCard {
    width: 94%;
    margin-left: 3%;
    margin-right: 3%;
    box-shadow: 0 3px 6px #ccc;
    background-color: none;
}

.swipeCard-img {
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
    height: auto;
}

.swipeCardP-Tag {
    text-align: center;
    font-size: 1.5em;
}

/***************************************************
                Profile Page
***************************************************/

#profilePage {
    background-color: #EFEFEF;
}

.card-photo,
.profile-photo {
    width: 40%;
    height: 40%;
    border-radius: 50%; 
}

.profile-photo{
    border: 4px solid #96D7E5;
}

.save-btn {
    background-color: #96D7E5;
    color: #fff;
    font-weight: bold;
    box-shadow: 0px 2px 4px #ccc;
}

.logOff-btn {
    background-color: rgb(255,59,63);
    color: #fff;
    font-weight: bold;
     box-shadow: 0px 2px 4px #ccc;
}

.tab-item .icon {
    margin-top: 5%;
}


/***************************************************
                Create Event Page
***************************************************/

#create-event-text {
    margin-top: 2%; 
}




