.platform-ios .manual-ios-statusbar-padding {
        padding-top: 20px;
    }
    
    .manual-remove-top-padding {
        padding-top: 0px;
    }
    
    .manual-remove-top-padding .scroll {
        padding-top: 0px !important;
    }
    
    ion-list.manual-list-fullwidth div.list,
    .list.card.manual-card-fullwidth {
        margin-left: -10px;
        margin-right: -10px;
    }
    
    ion-list.manual-list-fullwidth div.list > .item,
    .list.card.manual-card-fullwidth > .item {
        border-radius: 0px;
        border-left: 0px;
        border-right: 0px;
    }


/***************************************************
                Default Header Bar
***************************************************/
.bar.bar-positive {
    background-color: #A9A9A9;
    height: 3.5em;
    border-color: #A9A9A9;
    background-image: none;
}

.defaultHeader {
    background-color: #A9A9A9;
    height: 3.5em;
    width: 100%;
    margin-bottom: 20px;
    box-shadow: 0px 3px 5px #808080;
    text-align: center;
}

.messagesHeaderBtn {
    background-color: #A9A9A9;
    color: #fff;
    float: right;
    box-shadow: 0px 2px 4px #808080;
    font-size: 1.5em;
}

.deafultHeaderTitle {
    text-align: center;
    color: #fff;
    font-size: 2.4em;
    font-family: 'Raleway', sans-serif;
}

/***************************************************
             Default Tabs Controller
***************************************************/
.tab-item.tab-item-active, .tab-item.active, .tab-item.activated {    
    opacity: 1;
    color: #ff3b3f;
    box-shadow: 0px 2px 4px #ccc;
}

/***************************************************
                Default Login Html
***************************************************/
#defaultLoginImg {
    width: 90%; 
    height: auto;
    display: block; 
    margin-left: auto; 
    margin-right: auto;
    margin-top: 18%;
    margin-bottom: 10%;
}

#defaultLoginPageBtn1 {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 0px 3px 6px #bbb;
}

#defaultLoginPageBtn2 {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 0px 3px 6px #bbb;
    background-color: #ff3b3f;
}



#activityFeedBtn {
    width: 90%;
    background-color: #CAEBF2;
    margin-left: 5%;
    margin-right: 5%;
    color: #fff;
    font-size: 1.7em;
    box-shadow: 0px 2px 4px #ccc;
}

ion-popover-view .list {
    text-align: center;
}


/***************************************************
                Dashboard Html
***************************************************/
#dashboardHtml {
    background-color: #EFEFEF;
}
