.platform-ios .manual-ios-statusbar-padding {
        padding-top: 20px;
    }
    
    .manual-remove-top-padding {
        padding-top: 0px;
    }
    
    .manual-remove-top-padding .scroll {
        padding-top: 0px !important;
    }
    
    ion-list.manual-list-fullwidth div.list,
    .list.card.manual-card-fullwidth {
        margin-left: -10px;
        margin-right: -10px;
    }
    
    ion-list.manual-list-fullwidth div.list > .item,
    .list.card.manual-card-fullwidth > .item {
        border-radius: 0px;
        border-left: 0px;
        border-right: 0px;
    }


/***************************************************
                Default Header Bar
***************************************************/
.bar.bar-positive {
    background-color: #A9A9A9;
    height: 3.5em;
    border-color: #A9A9A9;
    background-image: none;
}

.defaultHeader {
    background-color: #A9A9A9;
    height: 3.5em;
    width: 100%;
    margin-bottom: 20px;
    box-shadow: 0px 3px 5px #808080;
    text-align: center;
}

.messagesHeaderBtn {
    background-color: #A9A9A9;
    color: #fff;
    float: right;
    box-shadow: -2px 2px 4px #808080;
    font-size: 1.5em;
}

.deafultHeaderTitle {
    text-align: center;
    padding-left: 14%;
    color: #fff;
    font-size: 2.4em;
    font-family: 'Raleway', sans-serif;
}

/***************************************************
             Default Tabs Controller
***************************************************/
.tab-item.tab-item-active, .tab-item.active, .tab-item.activated {    
    opacity: 1;
    color: #ff3b3f;
    box-shadow: 0 1em 2em #ccc;
}

.tab-item .icon {
    margin-top: 8%;
}

/***************************************************
                Default Login Html
***************************************************/
#defaultLoginImg {
    width: 90%; 
    height: 90%;
    display: block; 
    margin-left: auto; 
    margin-right: auto;
    margin-top: 18%;
    margin-bottom: 10%;
}

#defaultLoginPageBtn1 {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 0px 3px 6px #bbb;
}

#defaultLoginPageBtn2 {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 0px 3px 6px #bbb;
    background-color: #ff3b3f;
}



#activityFeedBtn {
    width: 60%;
    background-color: #6fc8dc;
    margin-left: 20%;
    margin-right: 20%;
    color: #fff;
    font-size: 1.5em;
    font-weight: bold;
    box-shadow: 0px 2px 6px #ccc;

}

ion-popover-view .list {
    text-align: center;
}


/***************************************************
                Dashboard Html
***************************************************/
#dashboardHtml {
    background-color: #EFEFEF;
}

.swipeCard {
    margin-top: 3%;
    width: 94%;
    margin-left: 3%;
    margin-right: 3%;
    box-shadow: 0 3px 6px #ccc;
    background-color: none;
}

.swipeCard-img {
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
    height: auto;
}

.swipeCardP-Tag {
    font-size: 1.5em;
}

#activityListCard {
    margin-top: 1%;
    margin-bottom: 1%;
    box-shadow: 0px 2px 4px #ccc;
}

#activityListCard p {
    padding-top: 2%;
    text-align: center;
    font-size: 1.4em;
}


#activityListCard-People {
    font-size: 1em;
    font-weight: bold;
    color: #ff3b3f;
    padding-left: 4%;
}

#activityListCard-PeopleIcon {
    font-size: 1em;
    font-weight: bold;
    color: #ff3b3f;
    padding-left: 1%;
}


#activityListCard2 {
    padding-left: 2%;
    padding-right: 1%;
    padding-top: 2%;
    margin-top: 1%;
    margin-bottom: 1.5%;
    box-shadow: 0px 2px 4px #ccc;
}

#cardP1 {
    font-size: 1.6em;
}

#cardAge {
    font-weight: bold;
}

/***************************************************
                Profile Page
***************************************************/

#profilePage {
    background-color: #EFEFEF;
}

.card-photo,
.profile-photo {
    width: 40%;
    height: 40%;
    border-radius: 50%; 
}

.profile-photo{
    border: 4px solid #96D7E5;
}

.post-event-btn,
.select-num-btn,
.create-activity-btn,
.save-btn {
    background-color: #96D7E5;
    color: #fff;
    font-weight: bold;
    box-shadow: 0px 2px 4px #ccc;
}

.logOff-btn {
    background-color: rgb(255,59,63);
    color: #fff;
    font-weight: bold;
     box-shadow: 0px 2px 4px #ccc;
}


.tab-item .icon {
    margin-top: 5%;
}


/***************************************************
                Create Event Page
***************************************************/

#createPage{
    background-color: #EFEFEF;
}


#create-event-name {
    border: 1px solid #ccc;
    margin-top: 1%;
}

#create-event-description {
    margin-top: 1%;
    height: 5em;
    border: 1px solid #ccc;
}

.pick-category-btn{
    color: #96D7E5;
    font-weight: bold;
    box-shadow: 0px 2px 4px #ccc;
    background-color: #fff;
    border: 2px solid #96D7E5;
}

.ppl-output {
   color: rgb(255,59,63);
   margin-left: 2%;
   font-size: 1.5em;
   font-weight: bold;
   text-shadow: -1px 2px 3px #ccc;
}

output{
    display: inline;
}

.create-label {
    font-family: raleway;
    margin-top: 2%;
}
.cust-icon {
    font-size: 2em;
}

/***************************************************
                Notification Html
***************************************************/
#notificationsPage {
    background-color: #EFEFEF;
}

#acceptCardIcon {
    color: #4caf50;
    font-size: 1.6em;
}

#declineCardIcon {
    color: #ff3b3f;
    font-size: 1.6em;
}

.notificationCard {
    box-shadow: 0 3px 6px #ccc;
    margin-bottom: 0;
    margin-top: 1%;
    transform: none !important;
    transition: none !important;
}

.notificationCard p {
    margin-top: 1%;
    text-align: left;
}

.notificationCard-userName {
    font-weight: bold;
}

/*#notificationCard-icons {
    float: right;
}*/

#notificationsPopover {
    position: absolute;
    top: 15% !important;
    left: 0 !important;
    right: 5%;
    z-index: 10;
    margin-top: 0;
    margin-left: 3% !important;
    margin-bottom: 4%;
    /* background-color: #000; */
    height: 70%;
    width: 94%;
    background-color: #fff;
}

#notificationsPopover .popover-arrow {
    display:none !important;
}

.popover-backdrop.active {
    background-color: rgba(0, 0, 0, 0.4) !important;
}

.notifications-userCard {
    transform: none !important;
    transition: none !important;
    margin-top: 1%;
    margin-bottom: 1.5%;
    box-shadow: 0px 2px 4px #ccc;
}

.notifications-userCard-img {
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
    height: auto;
}

#notifications-userCardP1 {
    padding-top: 2%;
    text-align: left;
    font-size: 1.5em;
}

#notifications-userCardAge {
    font-weight: bold;
}

#notificationsUser-InfoCard,
#notificationsUser-InfoCard2 {
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
    margin-top: 1%;
    margin-bottom: 1.5%;
    box-shadow: 0px 2px 4px #ccc;
}
