<ion-view hide-nav-bar="true" id="dashboardHtml">
    <ion-content class="manual-ios-statusbar-padding">
        <div class="defaultHeader">
            <label class="deafultHeaderTitle">WHiiM</label>
            <button class="messagesHeaderBtn button icon ion-ios-email"></button>
        </div>

        <button id="activityFeedBtn" class="button" ng-click="popover.show($event)" >{{user.activity}}</button>
        
        <div>

            
            <td-cards>
              <td-card class="swipeCard list card" ng-repeat="card in dashboard.currentCard" on-destroy="dashboard.cardDestroyed(card)" on-swipe-right="dashboard.cardSwiped(card)">
                <td-card id="activityListCard" class="list card">
                  <p>"Activity Will Go Here Okay"<label id="activityListCard-People">3<i id="activityListCard-PeopleIcon" class="icon ion-person-stalker"></i></label></p>
                </td-card>
                    <img ng-src="{{card.value.photoURL}}" class="swipeCard-img">   
                <td-card id="activityListCard2" class="list card">
                  <p id="cardP1">{{card.value.displayName}}, <label id="cardAge">AGE</label></p>
                </td-card>
              </td-card>
            </td-cards>
            
            
          
        </div>
      

            
            
    </ion-content>
</ion-view>



