<ion-view hide-nav-bar="true" id="dashboardHtml">
    <ion-content class="manual-ios-statusbar-padding">
        <div class="defaultHeader">
            <label class="deafultHeaderTitle">WHiiM</label>
            <button class="messagesHeaderBtn button icon ion-ios-email"></button>
        </div>
        <button id="activityFeedBtn" class="button" ng-click="popover.show($event)" >{{user.activity}}</button>
        <div>

            
            <td-cards>
              <td-card class="swipeCard list card" ng-repeat="card in dashboard.currentCard" on-destroy="dashboard.cardDestroyed($index)" on-swipe-right="dashboard.cardSwiped($index)">
                <p class="swipeCardP-Tag">"Activity Will Go Here"</p>
                    <img ng-src="{{card.value.photoURL}}" class="swipeCard-img">   
                <p class="swipeCardP-Tag">{{card.value.displayName}}</p>
              </td-card>
            </td-cards>
            
            
          
        </div>
       <!--  <div class="list card">

          <div class="item item-avatar">
            <img src="avatar.jpg">
            <h2>Pretty Hate Machine</h2>
            <p>Nine Inch Nails</p>
          </div>

          <div class="item item-image">
            <img src="cover.jpg">
          </div>

          <a class="item item-icon-left assertive" href="#">
            <i class="icon ion-music-note"></i>
            Start listening
          </a>

</div> -->

            
            
    </ion-content>
</ion-view>


<!-- <script id="templates/popover.html" type="text/ng-template">
    <ion-popover-view>
        <ion-content>
            <div class="list">
                <a class="item" href="http://learn.ionicframework.com/" target="_blank">
              Learn Ionic
            </a>
                <a class="item" href="http://ionicframework.com/docs/" target="_blank">
              Documentation
            </a>
                <a class="item" href="http://showcase.ionicframework.com/" target="_blank">
              Showcase
            </a>
                <a class="item" href="http://ionicframework.com/submit-issue/" target="_blank">
              Submit an Issue
            </a>
                <a class="item" href="https://github.com/driftyco/ionic" target="_blank">
              Github Repo
            </a>
            </div>
        </ion-content>
    </ion-popover-view>
</script> -->
