<ion-popover-view>
    <ion-content>
        <div class="list">
            <a class="item" ng-click="setActivity('any')">
              Anything goes!
            </a>
            <a class="item" ng-click="setActivity('sportsAndFitness')">
              Sports and Fitness
            </a>
            <a class="item" ng-click="setActivity('nightlife')">
              Night Life
            </a>
            <a class="item" ng-click="setActivity('food')">
              Food
            </a>
            <a class="item" ng-click="setActivity('adventure')">
              Adventure
            </a>
            <a class="item" ng-click="setActivity('gaming')">
              Gaming
            </a>
            <a class="item" ng-click="setActivity('arts')">
              Arts
            </a>
            <a class="item" ng-click="setActivity('entertainment')">
              Entertainment
            </a>
        </div>
    </ion-content>
</ion-popover-view>
